.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-empty {
  position: relative;
  display: block;
  width: 100%;
}
.gov-empty__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  background: var(--gov-empty-icon-circle-bg, linear-gradient(to bottom, var(--gov-color-primary-200), var(--gov-color-neutral-white)));
  color: var(--gov-empty-icon-color, var(--gov-color-primary));
}
.gov-empty__icon > * {
  width: 3.5rem;
  height: 3.5rem;
}
.gov-empty__content > *:last-child {
  margin-bottom: 0;
}