<div class="gov-loading">
  <div class="gov-loading__content">
    <div class="gov-loading__icon gov-spin-animation gov-icon">
      <span class="gov-icon__holder">
        {{ source('@gov_cz/assets/gov-design-system/gov-icons/basic/loader.svg') }}
      </span>
    </div>
  </div>Loading...
  <div class="gov-backdrop">
    <div role="button" class="gov-backdrop__bg"></div>
  </div>
</div>
