<footer class="gov-container u-bg-color--grey-dark gov-footer">
  <div class="gov-container__content">
    <section class="gov-footer__upper u-screen--only">
      <div class="gov-footer__col">
        <h5 class="gov-footer__headline">
          Informace
        </h5>
        <ul class="gov-list--plain">
          <li>
            <a href="#" class="gov-link gov-link--standalone gov-link--inversed">
              Kontakty pro média
            </a>
          </li>
          <li>
            <a href="#" class="gov-link gov-link--standalone gov-link--inversed">
              Ke stažení
            </a>
          </li>
          <li>
            <a href="#" class="gov-link gov-link--standalone gov-link--inversed">
              Mapa webu
            </a>
          </li>
          <li>
            <a href="#" class="gov-link gov-link--standalone gov-link--inversed">
              Prohlášení o&nbsp;přístupnosti
            </a>
          </li>
          <li>
            <a href="#" class="gov-link gov-link--standalone gov-link--inversed">
              Zpracování kontaktních údajů a&nbsp;cookies
            </a>
          </li>
        </ul>
      </div>
      <div class="gov-footer__col">
        <h5 class="gov-footer__headline">
          Máte dotaz? Napište nám
        </h5>
        <ul class="gov-list--plain">
          <li>
            <a href="mailto:portalobcana@mvcr.cz" class="gov-link gov-link--inversed">
              portalobcana@mvcr.cz
            </a>
          </li>
        </ul>
      </div>
      <div class="gov-footer__col">
        <h5 class="gov-footer__headline">
          Sledujte český eGoverment
        </h5>
        <ul class="gov-list--plain gov-list--inline">
          <li>
            <a href="#" class="gov-link--inversed" aria-label="Facebook | externí odkaz">
              <span aria-hidden='true' class="gov-icon gov-icon--facebook"></span>
            </a>
          </li>
          <li>
            <a href="#" class="gov-link--inversed" aria-label="Twitter | externí odkaz">
              <span aria-hidden='true' class="gov-icon gov-icon--twitter"></span>
            </a>
          </li>
          <li>
            <a href="#" class="gov-link--inversed" aria-label="Youtube | externí odkaz">
              <span aria-hidden='true' class="gov-icon gov-icon--youtube"></span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <hr>
    <section class="gov-footer__lower">
      <p class="gov-footnote">
        2023 &copy; Ministerstvo vnitra • Informace jsou poskytovány v&nbsp;souladu se zákonem č.&nbsp;106/1999 Sb., o&nbsp;svobodném přístupu k&nbsp;informacím.
      </p>
      <p class="gov-footnote">
        Verze 1.0.0
      </p>
    </section>
    <button class="gov-button gov-button--primary-outlined gov-button--inversed gov-footer__scroll-up gov-js--scroll-up" aria-labelledby="fo-scrollBtn">
      <span
        id="fo-scrollBtn"
        class="u-sr-only gov-button__label">
                    Zpět nahoru
                </span>
    </button>
  </div>
</footer>
