{# Stepper
  ## Variables ##
  # stepper_size – Size of the Stepper items.
  # stepper_items – List of Stepper items.
#}
<div size="{{ stepper_size|default('m') }}" class="gov-stepper" role="list">
  {{ stepper_items }}
</div>
