{% set attributes = create_attribute({'class': ['gov-logo']}) %}

<div{{ attributes.addClass(classes)}}>
  <div class="gov-pictogram">
  </div>
  <span class="gov-logo__sitename">{{ sitename }}</span>
</div>
