.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-container {
  display: block;
  width: 100%;
  max-width: calc(var(--gov-container-width, 73.75rem) + 2 * var(--gov-container-padding, 2.5rem));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--gov-container-padding-mobile, 1.25rem);
  padding-left: var(--gov-container-padding-mobile, 1.25rem);
}
@media (min-width: 48em) {
  .gov-container {
    padding-right: var(--gov-container-padding, 2.5rem);
    padding-left: var(--gov-container-padding, 2.5rem);
  }
}