{# Statsbar item
  ## Variables ##
  # statsbar_item_icon – The icon for the item.
  # statsbar_item_value – The value for the item.
  # statsbar_item_description – Description for the item.
#}
<div class="gov-statsbar-item" {{ statsbar_item_icon_position ? 'icon-position="left"' }}>
  <article>
    {% if statsbar_item_icon %}
      <span class="gov-statsbar-item__icon">
        <div class="gov-icon" aria-hidden="true">
          <span class="gov-icon__holder">
            {{ source(statsbar_item_icon, ignore_missing = true) }}
          </span>
        </div>
      </span>
    {% endif %}
    <p class="gov-statsbar-item__number">{{ statsbar_item_value }}</p>
    <div class="gov-statsbar-item__text">
      {{ statsbar_item_description }}
    </div>
  </article>
</div>
