.gov-spin-animation,
.gov-pseudo-spin-animation::before {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes countdown {
  to {
    transform: scaleX(0);
  }
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gov-tooltip {
  position: relative;
  display: inline;
  border-bottom: 1px dashed currentcolor;
  color: var(--gov-color-primary);
  cursor: help;
}
.gov-tooltip[icon=""], .gov-tooltip[icon=true i], .gov-tooltip[icon="1"] {
  display: inline-flex;
  border-bottom: 0;
}
.gov-tooltip[variant=secondary] {
  --gov-tooltip-content-bg-color: var(--gov-tooltip-secondary-bg-color, var(--gov-color-secondary));
  --gov-tooltip-content-text-color: var(--gov-tooltip-secondary-text-color, var(--gov-color-neutral-white));
}
.gov-tooltip[variant=secondary][inverse=""], .gov-tooltip[variant=secondary][inverse=true i], .gov-tooltip[variant=secondary][inverse="1"] {
  --gov-tooltip-content-bg-color: var(--gov-color-neutral-white);
  --gov-tooltip-content-text-color: var(--gov-tooltip-secondary-text-color-inverse, var(--gov-color-secondary));
}
.gov-tooltip[variant=primary] {
  --gov-tooltip-content-bg-color: var(--gov-tooltip-primary-bg-color, var(--gov-color-primary-300));
  --gov-tooltip-content-text-color: var(--gov-tooltip-primary-text-color, var(--gov-color-secondary));
}
.gov-tooltip[variant=primary][inverse=""], .gov-tooltip[variant=primary][inverse=true i], .gov-tooltip[variant=primary][inverse="1"] {
  --gov-tooltip-content-bg-color: var(--gov-color-neutral-white);
  --gov-tooltip-content-text-color: var(--gov-tooltip-primary-text-color-inverse, var(--gov-color-primary));
}