$class: '.gov-attachment';

#{$class} {
    display: inline-flex;
    flex-direction: column;
    padding: rem-calc(10);
    padding-left: 0;
    max-width: rem-calc(100);

    color: gov-colors('grey-mid');
    font-family: $gov-font-family-primary;

    &__label {
        line-height: 1.4;
    }

    * + &__label {
        margin-top: rem-calc(10);
    }
}

a#{$class} {
    color: gov-colors('blue');
    text-decoration: none;

    #{$class}__label {
        text-decoration: underline;
    }

    @include hover() {
        #{$class}__label {
            text-decoration: none;
        }
    }
}
