$class: '.gov-tooltip';
$classPointer: '.gov-tooltip--pointer';
$classIcon: '.gov-icon';

#{$class} {
    display: inline-block;
    padding: rem-calc(16);

    position: relative;

    background-color: gov-colors('blue-inactive-2');

    border-radius: rem-calc(3);

    max-width: rem-calc(300);

    font-size: rem-calc(15);
    line-height: 1.6;
    font-family: $gov-font-family-primary;
    color: gov-colors('grey-dark');
    letter-spacing: initial;
    -webkit-font-smoothing: antialiased;

    opacity: 1;
    transition: opacity 0.1s ease-in;

    &--hidden {
        opacity: 0;
    }


    a, .gov-link {
        font-size: inherit;
        letter-spacing: initial;
    }

    & #{$classPointer} {
        @include pseudo();
        position: absolute;

        width: 0;
        height: 0;

        width: rem-calc(0);
        height: rem-calc(0);
    }

    /*  Points
    ------------------------------------------------------------------ */

    &--point-up #{$classPointer}, &--point-down #{$classPointer} {
        border-left: rem-calc(10) solid transparent;
        border-right: rem-calc(10) solid transparent;

        left: calc(50% - 10px);
    }

    &--point-left #{$classPointer}, &--point-right #{$classPointer} {
        border-top: rem-calc(10) solid transparent;
        border-bottom: rem-calc(10) solid transparent;

        top: calc(50% - 10px);
    }

    &--point-up #{$classPointer} {
        border-bottom: 10px solid gov-colors('blue-inactive-2');

        top: rem-calc(-10);
    }

    &--point-down #{$classPointer} {
        border-top: 10px solid gov-colors('blue-inactive-2');

        bottom: rem-calc(-10);
    }

    &--point-left #{$classPointer} {
        border-right: 10px solid gov-colors('blue-inactive-2');

        left: rem-calc(-10);
    }

    &--point-right #{$classPointer} {
        border-left: 10px solid gov-colors('blue-inactive-2');

        right: rem-calc(-10);
    }

    /*  Sizes
    ------------------------------------------------------------------ */
    &--small {
        padding: rem-calc(8);

        font-size: rem-calc(14);
        line-height: 1.4;

        &#{$class}--point-up #{$classPointer}, &#{$class}--point-down #{$classPointer} {
            border-left-width: rem-calc(7);
            border-right-width: rem-calc(7);

            left: calc(50% - 7px);
        }

        &#{$class}--point-left #{$classPointer}, &#{$class}--point-right #{$classPointer} {
            border-top-width: rem-calc(7);
            border-bottom-width: rem-calc(7);

            top: calc(50% - 7px);
        }

        &#{$class}--point-right #{$classPointer} {
            border-left-width: rem-calc(7);

            right: rem-calc(-7);
        }

        &#{$class}--point-left #{$classPointer} {
            border-right-width: rem-calc(7);

            left: rem-calc(-7);
        }

        &#{$class}--point-up #{$classPointer} {
            border-bottom-width: rem-calc(7);

            top: rem-calc(-7);
        }

        &#{$class}--point-down #{$classPointer} {
            border-top-width: rem-calc(7);

            bottom: rem-calc(-7);
        }
    }

    &--large {
        font-size: rem-calc(18);
        line-height: 1.4;

        &#{$class}--point-up #{$classPointer}, &#{$class}--point-down #{$classPointer} {
            border-left-width: rem-calc(14);
            border-right-width: rem-calc(14);

            left: calc(50% - 14px);
        }

        &#{$class}--point-left #{$classPointer}, &#{$class}--point-right #{$classPointer} {
            border-top-width: rem-calc(14);
            border-bottom-width: rem-calc(14);

            top: calc(50% - 14px);
        }

        &#{$class}--point-right #{$classPointer} {
            border-left-width: rem-calc(14);

            right: rem-calc(-14);
        }

        &#{$class}--point-left #{$classPointer} {
            border-right-width: rem-calc(14);

            left: rem-calc(-14);
        }

        &#{$class}--point-up #{$classPointer} {
            border-bottom-width: rem-calc(14);

            top: rem-calc(-14);
        }

        &#{$class}--point-down #{$classPointer} {
            border-top-width: rem-calc(14);

            bottom: rem-calc(-14);
        }
    }

    /*  Colors
    ------------------------------------------------------------------ */
    &--light {
        background-color: gov-colors('white');
        color: gov-colors('grey-dark');

        a, .gov-link {
            color: gov-colors('blue');
        }

        &#{$class}--point-right #{$classPointer} {
            border-left-color: gov-colors('white');
        }

        &#{$class}--point-left #{$classPointer} {
            border-right-color: gov-colors('white');
        }

        &#{$class}--point-up #{$classPointer} {
            border-bottom-color: gov-colors('white');
        }

        &#{$class}--point-down #{$classPointer} {
            border-top-color: gov-colors('white');
        }
    }

    &--dark {
        background-color: gov-colors('grey-dark');
        color: gov-colors('white');

        a, .gov-link {
            color: gov-colors('white');
        }

        &#{$class}--point-right #{$classPointer} {
            border-left-color: gov-colors('grey-dark');
        }

        &#{$class}--point-left #{$classPointer} {
            border-right-color: gov-colors('grey-dark');
        }

        &#{$class}--point-up #{$classPointer} {
            border-bottom-color: gov-colors('grey-dark');
        }

        &#{$class}--point-down #{$classPointer} {
            border-top-color: gov-colors('grey-dark');
        }
    }

    /*  Triggers
    ------------------------------------------------------------------ */

    &--copy {
        color: gov-colors('blue');
        border-bottom: 1px dashed gov-colors('blue');

        cursor: help;
    }

    &--icon {
        width: rem-calc(16);
        height: rem-calc(16);

        cursor: help;

        & #{$classIcon}:before {
            font-size: rem-calc(16);
        }
    }
}
