button, .gov-button {
    @include button-core();

    padding: rem-calc(10) rem-calc(12);

    border: 1px solid transparent;
    border-radius: $gov-border-radius;
    color: gov-colors('blue');
    font-family: $gov-font-family-primary;
    font-size: rem-calc(12);
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;

    transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
    will-change: background-color, border-color;

    -webkit-font-smoothing: antialiased;

    & > * {
        color: currentColor;
    }

    &:focus {
        border-color: gov-colors('white');
        box-shadow: 0 0 0 $gov-outline-width gov-colors('blue-focus');
        outline: none;
    }

    &.is-active {
        background-color: gov-colors('blue-hover');
        color: gov-colors('blue-dark');

        & > * {
            color: currentColor;
        }
    }

    @include hover() {
        background-color: gov-colors('blue-hover');
        color: gov-colors('blue-dark');

        & > * {
            color: currentColor;
        }
    }

    &:visited {
        color: gov-colors('blue');

        & > * {
            color: currentColor;
        }
    }

    /* Button Types
    ------------------------------------------------------------------ */
    &--primary {
        background-color: gov-colors('blue');
        border-color: gov-colors('blue');
        color: gov-colors('white');

        &.is-active {
            background-color: gov-colors('blue-dark');
            border-color: gov-colors('blue-dark');
            color: gov-colors('white');
        }

        @include hover() {
            background-color: gov-colors('blue-dark');
            border-color: gov-colors('blue-dark');
            color: gov-colors('white');
        }

        &:visited {
            color: gov-colors('white');
        }
    }

    &--primary-outlined {
        border-color: gov-colors('blue');
        color: gov-colors('blue');

        &:focus {
            border-color: gov-colors('blue-focus');
        }

        &.is-active {
            border-color: gov-colors('blue-dark');
            color: gov-colors('blue-dark');
        }

        @include hover() {
            border-color: gov-colors('blue-dark');
            color: gov-colors('blue-dark');
        }

        &:visited {
            color: gov-colors('blue');
        }
    }

    &--icon-only {
        padding: 0 rem-calc(5);

        text-transform: none;
    }

    &--has-icon {
        padding-left: rem-calc(15);

        .gov-icon {
            margin-right: rem-calc(10);
        }
    }

    /* Button Sizes
    ------------------------------------------------------------------ */
    &--small {
        padding: rem-calc(8) rem-calc(12);

        font-size: rem-calc(12);
        line-height: 1.167;
    }

    &--large {
        padding: rem-calc(12) rem-calc(16);

        font-size: rem-calc(14);
        line-height: 1.572;
    }

    &--x-large {
        padding: rem-calc(14) rem-calc(20);

        font-size: rem-calc(18);
        line-height: 1.445;
    }

    /* Disabled
    ------------------------------------------------------------------ */
    &--disabled,
    &[disabled],
    &:disabled {
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
        color: gov-colors('blue-inactive-1') !important;
        cursor: not-allowed;

        &:focus {
            box-shadow: none;
        }

        &.gov-button--primary {
            background-color: gov-colors('blue-inactive-2') !important;
            border-color: gov-colors('blue-inactive-2') !important;
            color: gov-colors('white') !important;
        }

        &.gov-button--primary-outlined {
            background-color: transparent !important;
            border-color: gov-colors('blue-inactive-2') !important;
            color: gov-colors('blue-inactive-1') !important;
        }
    }

    /* Inversed
    ------------------------------------------------------------------ */
    &--inversed {
        color: gov-colors('white');

        &.is-active {
            background-color: gov-colors('blue-light');
            border-color: gov-colors('blue-light');
            color: gov-colors('white');
        }

        @include hover() {
            background-color: gov-colors('blue-light');
            border-color: gov-colors('blue-light');
            color: gov-colors('white');
        }

        &:visited {
            color: gov-colors('white');
        }

        &:focus {
            border-color: transparent;
            box-shadow: 0 0 0 $gov-outline-width gov-colors('white');
        }

        &.gov-button--primary {
            background-color: gov-colors('white');
            border-color: gov-colors('white');
            color: gov-colors('blue');

            &:focus {
                border-color: gov-colors('blue');
            }

            &.is-active {
                background-color: gov-colors('blue-hover');
                border-color: gov-colors('blue-hover');
            }

            @include hover() {
                background-color: gov-colors('blue-hover');
                border-color: gov-colors('blue-hover');
            }

            &:visited {
                color: gov-colors('blue');
            }
        }

        &.gov-button--primary-outlined {
            border-color: gov-colors('white');
            color: gov-colors('white');

            &:focus {
                border-color: gov-colors('white');
            }

            &.is-active {
                background-color: gov-colors('blue-light');
            }

            @include hover() {
                background-color: gov-colors('blue-light');
            }

            &:visited {
                color: gov-colors('white');
            }
        }
    }

    /* Inversed && Disabled
    ------------------------------------------------------------------ */
    &--inversed {
        &.gov-button--disabled,
        &[disabled]
        &:disabled {
            color: gov-colors('blue-inactive-1') !important;

            &.gov-button--primary {
                background-color: gov-colors('blue-light') !important;
                border-color: gov-colors('blue-light') !important;
                color: gov-colors('blue-dark') !important;
            }

            &.gov-button--primary-outlined {
                border-color: gov-colors('blue-light') !important;
                color: gov-colors('blue-inactive-1') !important;
            }
        }
    }
}
