$class: '.gov-statsbar';
$classIcon: '.gov-icon';
$classComplexIcon: '.gov-complex-icon';

#{$class} {
    &--light {
        background-color: gov-colors('white');

        #{$class}__item {
            #{$classIcon}, #{$classComplexIcon} {
                color: gov-colors('grey-dark');
            }
        }

        #{$class}__num {
            color: gov-colors('grey-dark');
        }

        p, .gov-bodycopy {
            color: gov-colors('grey-dark');
        }
    }
}
