.gov-search {
    display: block;
    margin-bottom: rem-calc(20);
    width: 100%;

    [type='text'] {
        padding: rem-calc(8) rem-calc(48) rem-calc(8) rem-calc(16);

        line-height: 1.375;
    }

    &--large {
        margin-bottom: rem-calc(35);

        [type='text'] {
            padding: rem-calc(12) rem-calc(88) rem-calc(12) rem-calc(16);
        }
    }

    .gov-form-control {
        margin-bottom: 0;
    }
}

.gov-search__inner {
    position: relative;

    display: block;
    width: 100%;
}

.gov-search__submit {
    position: absolute;
    right: rem-calc(4);
    top: 50%;

    transform: translateY(-50%);

    &.gov-button--icon-only {
        &:after {
            @include pseudo(block, relative, '\64');

            font-family: $gov-icon-font;
            font-size: rem-calc(20);
        }
    }
}
