.gov-complex-icon {
    color: currentColor;
    font-size: rem-calc(48);
    line-height: 0.5;

    &:before {
        font-family: 'gov-complex-icons';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-transform: none;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /*  Sizes
    ------------------------------------------------------------------ */
    &--16x16 {
        font-size: rem-calc(16);
    }

    &--24x24 {
        font-size: rem-calc(24);
    }

    &--32x32 {
        font-size: rem-calc(32);
    }

    &--56x56 {
        font-size: rem-calc(56);
    }

    &--64x64 {
        font-size: rem-calc(64);
    }

    /*  Icons
    ------------------------------------------------------------------ */
    &--car:before {
        content: '\61';
    }

    &--doc:before {
        content: '\62';
    }

    &--doc-odt:before {
        content: '\63';
    }

    &--doc-health:before {
        content: '\64';
    }

    &--doc-pdf:before {
        content: '\65';
    }

    &--doc-plain:before {
        content: '\66';
    }

    &--doc-stamp:before {
        content: '\67';
    }

    &--doc-search:before {
        content: '\68';
    }

    &--doc-xls:before {
        content: '\69';
    }

    &--doc-taxes:before {
        content: '\6a';
    }

    &--doc-xml:before {
        content: '\6b';
    }

    &--graduate:before {
        content: '\6c';
    }

    &--id-card:before {
        content: '\6d';
    }

    &--illness:before {
        content: '\6e';
    }

    &--info:before {
        content: '\6f';
    }

    &--image:before {
        content: '\70';
    }

    &--jobloss:before {
        content: '\71';
    }

    &--new-comments:before {
        content: '\72';
    }

    &--map:before {
        content: '\73';
    }

    &--newborn:before {
        content: '\74';
    }

    &--packet:before {
        content: '\75';
    }

    &--planet:before {
        content: '\76';
    }

    &--review:before {
        content: '\77';
    }

    &--rings:before {
        content: '\78';
    }

    &--senior:before {
        content: '\79';
    }

    &--arrival:before {
        content: '\7a';
    }

    &--car-point-list:before {
        content: '\41';
    }

    &--coins:before {
        content: '\42';
    }

    &--communication:before {
        content: '\43';
    }

    &--covid:before {
        content: '\44';
    }

    &--confusion:before {
        content: '\45';
    }

    &--envelope-simple:before {
        content: '\46';
    }

    &--health:before {
        content: '\47';
    }

    &--envelope:before {
        content: '\48';
    }

    &--help:before {
        content: '\49';
    }

    &--help-big:before {
        content: '\4a';
    }

    &--hourglass:before {
        content: '\4b';
    }

    &--house:before {
        content: '\4c';
    }

    &--job:before {
        content: '\4d';
    }

    &--news:before {
        content: '\4e';
    }

    &--pet:before {
        content: '\4f';
    }

    &--petition:before {
        content: '\50';
    }

    &--pills:before {
        content: '\51';
    }

    &--portal:before {
        content: '\52';
    }

    &--pregnant:before {
        content: '\53';
    }

    &--registers:before {
        content: '\54';
    }

    &--retiree:before {
        content: '\55';
    }

    &--ring-bell:before {
        content: '\56';
    }

    &--twentyfour-seven:before {
        content: '\57';
    }

    &--vacation:before {
        content: '\58';
    }

    &--vaccine:before {
        content: '\59';
    }

    &--visa:before {
        content: '\5a';
    }

    &--tombstone:before {
        content: '\30';
    }

    &--sos:before {
        content: '\31';
    }
}
