{# Statsbar
  ## Variables ##
  # statsbar_variant – The colour variant of the statsbar.
  # statsbar_items – List of Statsbar items.
#}
<div variant="{{ statsbar_variant|default('primary') }}" class="gov-statsbar">
  <section class="gov-statsbar__section">
    {{ statsbar_items }}
  </section>
</div>
