<div class="gov-accordion gov-js-accordion" role="list">

  <button id="gov-accordion-header-0" class="gov-accordion__header  gov-accordion__header--noborder" role="listitem" aria-expanded="false" aria-controls="gov-accordion-content-0">
    <h3>{{ label }}</h3>
    <span aria-hidden="true" class="gov-icon gov-icon--16x16 gov-icon--arrow-down"></span>
  </button>

  <div class="gov-accordion__content" id="gov-accordion-content-0" aria-hidden="true" aria-labelledby="gov-accordion-header-0" role="tabpanel">
    <div class="gov-accordion__content-inner">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula sollicitudin risus,
        quis tempor metus imperdiet vitae. Duis in blandit lacus.
      </p>
    </div>
  </div>

</div>
