{# Accordion
  ## Variables ##
  # accordion_accessibility_label – Short description of the whole accordion.
  # accordion_items – List of Accordion items.
#}
<div class="gov-accordion">
  <div role="list" aria-label="{{ accordion_accessibility_label }}">
    {{ accordion_items }}
  </div>
</div>
